/* PORFOLIO */ 


.portfolio {
    padding-top: 115px;
    background-image: url('https://samar.dexignzone.com/xhtml/images/background/bg17.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.portfolio-header {
    margin-bottom: 30px;
}

.portfolio-left {
    flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
    padding: 0 15px;

}

.portfolio-right {
    flex: 0 0 42.66666666%;
    max-width: 41.666666666%;
    padding: 0 15px;
}

.portfolio-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.portfolio-left-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}

.left-item-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

}

.left-item-row {
    flex: 0 0 100%;
    width: 100%;
    padding: 0 15px;

}

.img-overlay {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}



.img-overlay:hover .lightimg {
    opacity: 1;
    top: 20px;
    right: 20px;
}



.img-overlay::after {
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.img-overlay:hover::after {
    opacity: 0.4;

}

.portfolio-info {
    opacity: 1;
    visibility: hidden;
    position: absolute;
    text-align: left;
    padding: 30px;
    z-index: 99;
    right: 0;
    left: 0;
    bottom: -50%;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.img-overlay:hover:hover .portfolio-info {
    bottom: 0;
    opacity: 1;
   visibility: visible;
}

.portfo-title {
    font-size: 22px;
    font-weight: 800;
}

.portfolio-info h5, .portfolio-info a {
    color: #fff;
}

.portfolio-info p {
    color: #fff;
    opacity: 0.7;
}

.lightimg {
    position: absolute;
    top: 0;
    background: var(--gradient);
    z-index: 2;
    color: #fff;
    right: 0;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-size: 200%;
    opacity: 0;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

/* PLAN */

.plan {
    padding: 115px 0 0 0;
    background-image: url('https://samar.dexignzone.com/xhtml/images/background/bg16.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.plan-header {
    text-align: center;
    margin-bottom: 1rem;
}

.plan-choice {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-image: var(--gradient);
    display: flex;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 235px;
    background-size: 200%;
    padding: 4px;
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px 0 var(--rgba-primary-1);
}

.plan-choice::after {
    content: "";
    width: calc(50% - 4px);
    display: block;
    height: calc(100% - 8px);
    background: #fff;
    border-radius: 4px;
    position: absolute;
    right: auto;
    z-index: -1;
    left: 4px;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.choice-month::after {
    left: 50%!important;
    z-index: -1;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;

}

.choice-year::after {
    left: 4px;
    z-index: -1;
}



.plan-choice span {
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}

.plan-choice > .monthly {
    color: #000;
}

.plan-choice > .yearly {
    color: #fff;
}



.plan-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}

.plan-item {
    padding: 35px 60px;
    border: 3px solid #0000;
    border-radius: 8px;
    border-image: none;
    overflow: hidden;
    transition: all 0.3s;
    border-image: 100 round;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
}

.plan-active {
    border-image: url('https://samar.dexignzone.com/xhtml/images/br.png') 1 round;
}

.plan-title, .plan-img, .plan-item h2 {
    text-align: center;
}

.plan-title {
    margin-bottom: 20px;
}

.plan-title h3 {
    font-size: 32px;
}

.plan-img {
    margin-bottom: 15px;
}
.plan-img img {
    width: 125px;
}

.plan-item h2 {
    margin-bottom: 25px;
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan-item h2 > span {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan-item ul {
    border-top: 1px solid #E1E1F0;
    padding: 15px 0;
}

.plan-item ul li {
    padding: 5px 0;
}

.plan-item ul li p{
   display: inline-block;
   margin-left: 5px;
}

.check-icon-plan {
    width: 26px;
    height: 26px;
    font-size: 12px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background: var(--rgba-primary-1);
}

.plan-footer{
    text-align: center;
}

.plan-btn {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}


