.fadeUp{
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease!important;
}
.fadeUp.visible {
    opacity: 1;
    transform: none;
}

.fadeZoom {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease!important;
}

.fadeZoom.visible {
    opacity: 1;
    transform: scale(1.4);
}

.about-media, .features-header, .features-box-left {
    transform: translateX(-30%);
}

.about-content, .features-box-right {
    transform: translateX(30%);
}

.fadeFlyIn {
    opacity: 0;
    transition: all 1.5s ease!important;
}

.fadeFlyIn.visible {
    opacity: 1;
    transform: none;
}

.banner-title {
    transition-delay: 0.3s!important;
}

.banner-heading  {
    transition-delay: 0.6s!important;
}

.banner-text {
    transition-delay: 0.9s!important;
}

.banner-ul {
    transition-delay: 1.2s!important;
}

.banner-button {
    transition-delay: 1.5s!important;
}

.back-img {
    transition-delay: 2s!important;
}

.banner-img .front-img{
    transition-delay: 2.3s!important;
}

.plan-delay1 {
    transition-delay: 0.2s!important;
}

.plan-delay2 {
    transition-delay: 0.4s!important;
}

.plan-delay3 {
    transition-delay: 0.6s!important;
}


